// sources
@import 'src/_bootstrap.scss'; // bootstrap
@import 'src/_wordpress.scss'; // wp classes
@import 'src/_jquery.fancybox.scss'; // fancybox
@import 'src/_slick.scss'; // slick slider
// modules

// utilites
.wrapper{
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	min-width: 320px;
}
.container{
	min-width: 320px;
}
.webber{
	text-align: right;
	margin-top: 15px;
	margin-bottom: 0;
	@media (max-width: 767px){
		text-align: center;
	}
	a{
		color: #fff;
	}
	img{
		height: 20px;
		margin-left: 10px;
		margin-right: 10px;
	}
}

// global
body{
	background-image: url(../img/all-bg.png);
	background-repeat: repeat;
	background-position: 0 0;
}

.title-block{
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 25px;
	font-weight: 300;
	span{
		display: inline-block;
		border-bottom: 4px solid $brand-primary;
		padding: 5px;
	}
}
.page-height{
	@media (min-width: 767px) {
		min-height: calc(100vh - 383px);
	}
}
.page-height2{
	@media (min-width: 767px) {
		min-height: calc(100vh - 353px);
	}
}